<div class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 max-w-md mx-auto">
  <div class="flex justify-around items-center py-3">
    <button class="flex flex-col items-center text-primary">
      <i class="fa fa-pie-chart text-lg"></i>
      <span class="text-xs mt-1">资产</span>
    </button>
    <button class="flex flex-col items-center text-primary">
      <i class="fa fa-wallet text-lg"></i>
      <span class="text-xs mt-1">钱包</span>
    </button>
    <button class="flex flex-col items-center text-gray-400 hover:text-primary transition-colors">
      <i class="fa fa-line-chart text-lg"></i>
      <span class="text-xs mt-1">市场</span>
    </button>
    <button class="flex flex-col items-center text-gray-400 hover:text-primary transition-colors">
      <i class="fa fa-ellipsis-h text-lg"></i>
      <span class="text-xs mt-1">更多</span>
    </button>
  </div>
</div>
    